<div class="only_adopt">
  <form action="/find_adopt" method="get">
    <label for="findBreed">Only show animals ready for adoption:</label>
    <input type="checkbox" name="adoptable" value="true">
    <input type="submit" value="Go">
  </form>
</div>
<div class="search_type">
  <form action="/find_type" method="get">
    <label for="findType">Filter by type:</label>
    <input type="text" name="type" id="type">
    <input type="submit" value="Search">
  </form>
</div>
<div class="search_breed">
  <form action="/find_breed" method="get">
    <label for="findBreed">Filter by breed:</label>
    <input type="text" name="breed" id="breed">
    <input type="submit" value="Search">
  </form>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Breed</th>
    <th>Available for <br> Adoption?</th>
    <th>Admission Date</th>
    <th>Image</th>
    <th>Action</th>
  </tr>
  <% for animal in @animals %>
  <tr>
    <td><%= animal.name %></td>
    <td><%= animal.type %></td>
    <td><%= animal.breed %></td>
    <td><%= if animal.adoptable == 't'
        p 'yes'
      else
        p 'no'
    end %></td>
    <td><%= animal.admission_date %></td>
    <td><img src=<%= animal.image() %> alt=<%=animal.name%>_pic> </p></td>
    <div>
      <td class="image">
        <form class="addPet" action="/pets" method="POST">
          <input type="hidden" name="animal_id" value="<%=animal.id%>">
          <label for="selectOwner" class="dropdown"></label>
          <select name="owner_id" id="selectOwner">
            <% for owner in @owners %>
              <option value="<%= owner.id %>"><%=owner.name%></option>
            <% end %>
            <input id="submit" type="submit" value="Adopt!">
          </select>
        </form>

        <a id="edit" href="/animals/<%= animal.id %>/edit">
          <img src="/images/edit.ico" alt="Edit" width="20" height="20" border="0">
        </a>

        <form action="/animals/<%= animal.id %>/delete" method="POST">
          <input id="delete" type="image" src="/images/delete.png" alt="Delete" width=20px height=20px border=0 />
        </form>
      </td>
    </div>
  </tr>
  <% end %>
</table>
